USE [master]
GO
/****** Object:  Database [Financeiro]    Script Date: 28/03/2023 21:24:00 ******/
CREATE DATABASE [Financeiro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Financeiro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\Financeiro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Financeiro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\Financeiro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Financeiro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Financeiro]
GO
/****** Object:  Table [dbo].[Alimentacao]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentacao](
	[Id] [int] NOT NULL,
	[Restaurante] [int] NULL,
	[Lanche] [int] NULL,
	[Supermercado] [int] NULL,
	[Feira] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Alimentacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Despesa]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Despesa](
	[Id] [int] NOT NULL,
	[NomeDespesa] [nchar](100) NULL,
	[DataPag] [date] NULL,
	[Valor] [int] NULL,
	[IdMoradia] [int] NULL,
	[IdTransporte] [int] NULL,
	[IdAlimentacao] [int] NULL,
	[IdInvestimento] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Despesa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investimento]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investimento](
	[Id] [int] NOT NULL,
	[NomeInvestimento] [nchar](100) NULL,
	[DataIinvest] [date] NULL,
	[ValorInvestido] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Investimento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moradia]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moradia](
	[Id] [int] NOT NULL,
	[Aluguel] [int] NULL,
	[IPTU] [int] NULL,
	[Luz] [int] NULL,
	[Agua] [int] NULL,
	[Condominio] [int] NULL,
	[Gas] [int] NULL,
	[Reparo] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Moradia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receita]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[Id] [int] NOT NULL,
	[NomeFonte] [nchar](100) NULL,
	[DataEntrada] [datetime] NULL,
	[ValorReceita] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Receita] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatorio]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatorio](
	[Id] [int] NOT NULL,
	[IdDespesa] [int] NULL,
	[TotalEntrada] [int] NULL,
	[TotalSaida] [int] NULL,
	[Saldo] [int] NULL,
 CONSTRAINT [PK_Relatorio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transporte]    Script Date: 28/03/2023 21:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporte](
	[Id] [int] NOT NULL,
	[IPVA] [int] NULL,
	[Licenciamento] [int] NULL,
	[Seguro] [int] NULL,
	[Combustivel] [int] NULL,
	[Manutencao] [int] NULL,
	[Estacionamento] [int] NULL,
	[TransportePublico] [int] NULL,
	[Pedagio] [int] NULL,
	[AluguelCarro] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Transporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
